body {
 	color: #331a00;
 	font-family: "Courier New";
 	font-weight: bold;
 	margin: 20px;
 }	

 h1 {
 	font-variant: small-caps;
 	font-size: 3em;
 }

 ul {
 	list-style-type: square;
 	margin-right: 100px;
 	margin-left: 100px;
 }

 ol {
 	margin-right: 50px;
 	margin-left: 50px;
 }

 .main {
 	margin-right: 50px;
 	margin-left: 50px;
 }

 .title {
 	font-size: 1.2em;
 	font-style: italic;
 	 }

 #bg-color {
 	background-color: #ffd480;
 }


#bg-image {
	background-image: url("Images/coffee.jpg");
	background-size: 100%; 
    background-repeat: no-repeat;
 }

section {
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
}

img {
 	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.right {
	float: right;
	width: 40%;
	border: 10px black;
}

.left {
	float: left;
	width: 40%;
}

table, th, td {
   border: 3px solid #261a0d;
   border-collapse: collapse;
   font-weight: bold;
   background-color: #ecd9c6;
}

th, td {
    padding: 15px;
}

a:link {
    color: #331a00;
}

a:visited {
    color: #b34700;
}

@media screen and (max-width: 500px) {
  html {
  	font-size: 75%;
  }
}
